{% extends "base.html" %}
{% load static %}

{% block body %}
<!-- Projects Section-->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{ year }}</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <div class="row">
                    {% if object_list %}
                        {% for song in object_list %}
                            <!-- Projects Card -->
                            <div class="col-md-6 mb-5">
                                <a href="{{ song.link }}" class="text-decoration-none" style="color: inherit;">
                                    <div class="card overflow-hidden shadow rounded-4 border-0 h-100">
                                        <div class="card-body p-0 position-relative">
                                            <img class="img-fluid" src="{% static song.get_image %}" alt="..." />
                                            <h5 class="card-title text-center position-absolute w-100 text-white" style="top: 50%; transform: translateY(-50%);">{{ song.title }}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        {% endfor %}
                    {% else %}
                        <h1>Coming soon...</h1>
                    {% endif %}
                </div>
                <!-- Paginación -->
                <div class="pagination justify-content-center">
                    <ul class="pagination">
                        {% if is_paginated %}
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="?page=1" tabindex="-1">First</a>
                        </li>
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>         
    </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url "contact" %}">Contact me</a>
        </div>
    </div>
</section>
{% endblock body %}
